body {
	background-color: #eee;
	padding-top: 4Opx;
	padding-bottom: 40px;
}

.scrollable {
	max-height: 500px;
	overflow: scroll;
}

#userList {
	max-height: 400px;
}

.spacer {
	padding-top: 10px;
}